<div class="page-splash"></div>
<div class="page-splash-message">
	SPA Starter
</div>
<div class="progress progress-stripped active page-progress-bar">
	<div class="bar" style="width: 100%;"></div>
</div>
