<section id="speakers-view" class="view">
	<header>
		<button class="btn btn-info btn-force-refresh pull-right" 
				data-bind="click: refresh">
			<i class="icon-refresh"></i>Refresh
		</button>
		<h3 class="page-title" data-bind="text: title"></h3>
		<div class="rticlecounter">
			<!--<address data-bind="text: speakers().length"></address>-->
			<address>found</address>
		</div>
	</header>
	<section data-bind="foreach: speakers" class="view-list">
		<article class="article-container-full-width">
			<div>
				<img data-bind="attr: { src: imageName }" class="img-polaroid" />
				<address data-bind="text: firstName"></address>
				<address data-bind="text: lastName"></address>
			</div>
		</article>
	</section>
</section>
